.navfont{
  font-family: 'Righteous', cursive;
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #F4A261 !important;
}

.bigbrand{
  font-size: 1.7em;
  color: #E76F51 !important;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #2A9D8F;
}

.postlisttitle{
  font-size: 0.8em;
  color: #2A9D8F;
}

.postlistcomment{
  color: #2A9D8F;
}

.postcontent{
  font-family: 'Source Code Pro';
  font-size: 1.5em;
}

.postcommenttext{
    font-size: 0.8em;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.boldhr{
    height: 3px;
}


